<div class="logo">
    <h1>DressForU</h1>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/dresses">Robes</a></li>
      <li><a routerLink="/categories">Catégories</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/register">S'enregister</a></li>

    </ul>
    <div class="ribbon-container">
        <img src="https://images.lvrcdn.com/BigRetina73I/XGP/007_bbfe930b-d01b-4ee1-9d1c-14a9196e4edf.JPG" alt="Robe 1">
        <img src="https://images.pexels.com/photos/1755414/pexels-photo-1755414.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Robe 2">
        <img src="https://images.pexels.com/photos/2236408/pexels-photo-2236408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Robe 3">
        <!--<img src="https://images.lvrcdn.com/MediumRetina77I/MBJ/026_43eb435a-e939-4b8a-89dd-8abbfd2f28a5.JPG" alt="Robe 4">
        <img src="https://images.lvrcdn.com/MediumRetina77I/YS8/080_daa673b4-8874-4c54-849d-fd9eb7d027b1.JPG" alt="Robe 4">
         -->

      </div>
      
  </nav>
  