<div class="logo">
  <h1>DressForU</h1>
</div>
<nav>
  <ul>
    <li><a routerLink="">Acceuil</a></li>
    <li><a routerLink="/dresses">Robes</a></li>
    <li><a routerLink="/categories">Catégories</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/login">Se connecter</a></li>

  </ul>
</nav>
<table>
    <thead>
      <tr>
        <th>Nom de la catégorie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td><a routerLink="/categorydetail/{{ category.idcategory }}">Voir les détails</a></td>
        <button (click)="deleteCategory(category.idcategory)">Supprimer</button>


      </tr>
    </tbody>
  </table>
  <div class="add-button-container">
    <button class="add-button" routerLink="/addcategory">Ajouter une nouvelle catégorie</button>
  </div>