<div class="form-container">
    <h1>Création de votre nouvelle robe</h1>
    <form enctype="multipart/form-data" action="/dress" method="post" >
      <div>
        <label>Name:</label>
        <input type="text"  name="name" />
      </div>
      <div>
        <label>Picture:</label>
        <input type="file" (change)="onFileSelected($event)" name="picture" accept=".jpg,.png" >
      </div>
      <div>
        <label>Price:</label>
        <input type="number" name="price" />
      </div>
      <div>
        <label>Material:</label>
        <input type="text" name="material"/>
      </div>
      <div>
        <label>Size:</label>
        <input type="text" name="size" />
      </div>
  
      <input type="submit" value="Ajouter la robe"/>
      <div *ngIf="message">{{ message }}</div>
    </form>
  </div>
  