<div class="logo">
  <h1>DressForU</h1>
</div>
<nav>
  <ul>
    <li><a routerLink="">Accueil</a></li>
    <li><a routerLink="/dresses">Robes</a></li>
    <li><a routerLink="/categories">Catégories</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/login">Se connecter</a></li>
  </ul>
</nav>

<div class="dress-list">
  <div *ngFor="let dress of dresses" class="dress-item">
    <h2>{{ dress.name }}</h2>
    <img [src]="dress.picture" alt="Image de la robe" class="dress-image">
    <p><a routerLink="/dressdetail/{{ dress.iddress }}">Voir les détails</a></p>
    <button class="delete-button" (click)="deleteDress(dress.iddress)">Supprimer</button>
  </div>
</div>

<div class="add-button-container">
  <button class="add-button" routerLink="/adddress">Ajouter une nouvelle robe</button>
</div>
